<div class="container">

  <h2>This is your dashboard</h2>

  <%= link_to "Back to home", root_path, class: 'btn btn-warning' %>

  <div class="your_animals">
    <p> My animals</p>
    <% @animals.each do |animal| %>
    <ul>
      <li><%= animal.name %></li>
      <li><%= animal.species %></li>
      <li><%= animal.bio %></li>
      <% animal.bookings.each do |b| %>
      <li>Booking <%= b.status %> for <%= b.date %></li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="your_bookings">
    <p> My bookings</p>
    <% @bookings.each do |booking|%>
    <ul>
      <li><%= booking.animal.name %></li>
      <li><%= booking.date %></li>
      <li><%= booking.status %></li>
    </ul>
    <% end %>
  </div>

</div>
