<% if user_signed_in? %>

  <div class="navbar-exotica">
    <div class="logo-title">
      <div class='Exotica-logo'>
        <%= image_tag "logo.png", alt: "Exotica", width: 80, height: 80, class: "d-inline-block align-text-top rounded-circle" %>
      </div>
      <div class='Exotica-title'>
        <h1>Exotica</h1>
      </div>
    </div>

    <div id="search" class='search-exotica-navbar'>
      <%= form_tag animals_path, method: :get, class: "search-content-exotica" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-exotica",
          placeholder: "Find an animal"
        %>
        <%= button_tag :submit, class: "btn-search" do %>
          <i class="fas fa-search"></i>
          <% end %>
      <% end %>
    </div>

   <div class='controls'>
      <%= link_to "Add my animal", new_animal_path, class: 'btn-add nav-btn'%>
      <div class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <ul>
          <li><%= link_to "My Dashboard", dashboard_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}%></li>
          </ul>
        </div>
      </div>
    </div>

  </div>


<% else %>

  <div class="navbar-exotica-logout sticky-top">
      <div class="logo-title">
        <div class='Exotica-logo'>
          <%= image_tag "logo.png", alt: "Exotica", width: 80, height: 80, class: "d-inline-block align-text-top rounded-circle" %>
        </div>
        <div class='Exotica-title'>
          <h1>Exotica</h1>
        </div>
      </div>

      <div class='controls'>
        <%= link_to "Sign in", new_user_session_path, class: 'btn-add' %>
        <%= link_to "Sign up", new_user_registration_path, class: 'btn-dashboard' %>

      </div>

    </div>

<% end %>
