<% if user_signed_in? %>

  <div class="navbar-transparent">
    <div class="logo-title">
      <div class='Exotica-logo'>
        <%= image_tag "logo.png", alt: "Exotica", width: 80, height: 80, class: "d-inline-block align-text-top rounded-circle" %>
      </div>
      <div class='Exotica-title'>
        <h1>Exotica</h1>
      </div>
    </div>

    <div class='controls'>
      <%= link_to "Add my animal", new_animal_path, class: 'btn-add'%>
      <%= link_to "My Dashboard", dashboard_path, class: 'btn-dashboard' %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: 'btn-out'%>
    </div>

  </div>


<% else %>

  <div class="navbar-exotica-logout sticky-top">
      <div class="logo-title">
        <div class='Exotica-logo'>
          <%= image_tag "logo.png", alt: "Exotica", width: 80, height: 80, class: "d-inline-block align-text-top rounded-circle" %>
        </div>
        <div class='Exotica-title'>
          <h1>Exotica</h1>
        </div>
      </div>

      <div class='controls'>
        <%= link_to "Sign in", new_user_session_path, class: 'btn-add' %>
        <%= link_to "Sign up", new_user_registration_path, class: 'btn-dashboard' %>

      </div>

    </div>

<% end %>
