<div class="container">
<h2 class='text-center'>All Animals</h2>
<% if user_signed_in? %>
  <div class="cards">
    <% @animals.each do |animal| %>
      <div class="card-trip">
      <% if animal.photo == nil  %>
       <img src="https://unsplash.com/photos/kUHfMW8awpE"/>
      <% else %>
        <%= cl_image_tag animal.photo.key %>
      <% end %>

        <div class="card-trip-infos">
          <div>
            <strong><%= link_to animal.name, animal_path(animal), class: "name" %></strong>
            <p><%= animal.category %></p>
          </div>
          <P class="card-trip-pricing"><%= animal.location %></p>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <%= link_to "Sign in", new_user_session_path, class: 'btn btn-primary' %> <br>
  <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-info' %><br>
<% end %>
</div>
