<div class="container mb-5">
  <%# <%= link_to "Back to home", root_path, class: 'btn btn-back' %>

    <div class="form-container">
      <h3>Add my Animal</h3>
      <%= simple_form_for(@animal) do |f| %>
        <%= f.input :name %>
        <%= f.input :species %>
        <%= f.input :category %>
        <%= f.input :location %>
        <%= f.input :birthday %>
        <%= f.input :bio %>
        <%= f.input :photo, as: :file %>
        <div class='center-btn'><%= f.submit 'Add', class: 'btn-add'%></div>
      <% end %>

    </div>

</div>
