<div class="container">
  <%= link_to "Back to all animals", root_path, class:'btn-back' %> <br>

  <div class='animal-container'>

    <div class="animal-picture">
        <%= cl_image_tag(@animal.photo.key, width: 600)%>
    </div>

    <div class="animal-info w-50">

      <div class="animal-specs">

        Name: <%= @animal.name%><br>

        Species: <%= @animal.species %><br>

        Location: <%= @animal.location %><br>

        Birthday: <%= @animal.birthday %><br>

        Bio: <%= @animal.bio %>

      </div>

      <div class='btn-rent'>
        <% if !(current_user == @animal.user) && user_signed_in? %>
          <%= link_to "Rent this animal", new_animal_booking_path(@animal), class: "btn-add" %>
        <% end %>
      </div>


    </div>

  </div>



</div>
