<div class="container">
  <%= link_to animals_path, class:'btn-back' do %>
    <i class="fa-solid fa-angle-left"></i>
  <% end %>
  <div class='animal-container'>

    <div class="animal-picture" >
        <%= cl_image_tag(@animal.photo.key, width: 600, radius: 15)%>
    </div>

    <div class="animal-info w-50">

      <div class="animal-specs">
        <div class="first-info">
          <h2 class="animal-title text-center mt-2 mb-5">
            <%= @animal.name.capitalize %>
          </h2>
          <div class="icone d-flex justify-content-around my-3">
            <p><i class="fa-solid fa-paw"></i>
            <%= @animal.species.capitalize %><br></p>
            <p><i class="fa-solid fa-cake-candles"></i>
            <%= @animal.birthday %><br></p>
            <p><i class="fa-solid fa-location-dot"></i>
            <%= @animal.location.capitalize %><br></p>
          </div>
        </div>
        <p class='text-center my-3 pt-3'><%= @animal.bio %></p>
      </div>

      <div class='btn-rent mb-4 d-inline-block'>
        <% if !(current_user == @animal.user) && user_signed_in? %>
          <%= link_to "Rent this animal", new_animal_booking_path(@animal), class: "btn-add" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
