<!DOCTYPE html>
<html>
  <head>
    <title>ExoticAnimals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <% if params[:action] == "home" %>
        <%= render "shared/navbar_transparent" %>
      <% else %>
        <%= render "shared/navbar" %>
      <% end %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if params[:action] != "home" %>
        <%= render 'shared/footer' %>
      <% end %>
    </div>
  </body>
</html>
